# for all subdirectories
Makefile.in
Makefile
.libs
.deps
*.o
*.lo
*.la
.*.swp

# autofoo stuff here
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
gtk-doc.make
install-sh
intltool-*.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
INSTALL
dolt*

# misc generated stuff
*.pc
*.server
*-bindings.h
*-glue.h
*-marshal.[ch]
*-enumtypes.[ch]
iconv-detect.h
*.service
